DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432
DB_NAME=order

NATS_URL=nats://nats:4222
CLUSTER_ID=test-cluster
CLIENT_ID=app-listener
PORT=8080
SWAGGER_URL=http://localhost:8080/swagger/doc.json
TOPIC_NAME=orders
DURABLE_NAME=order-consumer